**/*.pem
**/*.ppk
**/secrets.tfvars
**/plugins/*
**/.terraform*
**/*.swp
**/*.retry
**/*.ignore


# IDE
.idea

# OSX
*.DS_Store

.terraform/
dist/
venv/

*.tfstate*

terraform-provider-aws
terraform.tfstate
src